.paginatedTable thead th {
  background: #edf2f7;
}
.paginatedTable thead th:hover {
  background: #e2e8f0;
}
.paginatedTable thead th:active {
  background: #cbd5e0;
}

.paginatedTable th{
  
}

.paginatedTable tr:hover {
  background: #f7fafc;
}

.paginatedTable td {
  padding-top: 1px;
  padding-bottom: 1px;
}

.paginatedTable {
  font-size: 14px;
}
